<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>unit_mov01.png</key>
		<dict>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>48</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>unit_mov02.png</key>
		<dict>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>48</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>48</integer>
		</dict>
		<key>unit_mov03.png</key>
		<dict>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>48</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>96</integer>
		</dict>
		<key>unit_mov04.png</key>
		<dict>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>48</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>144</integer>
		</dict>
		<key>unit_mov05.png</key>
		<dict>
			<key>flipy</key>
			<true/>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>48</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>192</integer>
		</dict>
		<key>unit_mov06.png</key>
		<dict>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>48</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>240</integer>
		</dict>
		<key>unit_mov07.png</key>
		<dict>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>48</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>288</integer>
		</dict>
		<key>unit_mov08.png</key>
		<dict>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>48</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>336</integer>
		</dict>
		<key>unit_mov09.png</key>
		<dict>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>48</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>384</integer>
		</dict>
		<key>unit_mov10.png</key>
		<dict>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>48</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>432</integer>
		</dict>
		<key>unit_mov11.png</key>
		<dict>
			<key>height</key>
			<integer>48</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>48</integer>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>width</key>
			<integer>48</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>480</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>528</integer>
		<key>width</key>
		<integer>48</integer>
	</dict>
</dict>
</plist>
